@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 767px) {
  .lg\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }

  .hiddenm {
    display: none;
  }
}

.blur-light {
  --tw-blur: blur(1px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
